/* 
==========
Layout --------------------------------------
==========
*/
.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  min-height: 50rem;
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 20%;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  background-color: #fff;
  flex: 1;
}

.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);
}

.description {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  flex: 0 0 100%;
  margin-right: 4.5rem;
  margin-bottom: -42px;
}

.user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* 
==========
Footer --------------------------------------
==========
*/
.footer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.684);

}

.footer__content {
  max-width: 800px;
  margin: 0 auto;
}

.footer__link {
  color: #0073e6;
  text-decoration: none;
}

.footer__link:hover {
  text-decoration: underline;
}
