/* 
==========
Media Queries  --------------------------------------
==========
*/
@media only screen and (max-width: 31.25em) {
  .header {
    flex-wrap: wrap;
    align-content: space-around;
    height: 11rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .overview {
    flex-direction: column;
    align-items: flex-start;
  }

  .overview__heading {
    margin-right: 0;
  }

  .overview__stars {
    margin-top: -0.5rem;
    margin-bottom: -2rem;
    margin-left: 1.5rem;
}

  .overview__location {
    align-self: flex-end;
    margin-left: 0;
    margin-bottom: 2rem;
  }


}




@media only screen and (max-width: 31.25em) {
  .search {
    order: 1;
    flex: 0 0 100%;
    background-color: var(--color-grey-light-2);
  }
  .overview__rating {
    display: none;
}
 /*  .overview__rating {
    margin-top: 1rem;
    padding: 1rem -1.5rem;
    width: 6rem;
    height: 6rem;
} */

}

/* @media only screen and (max-width: 31.25em) {
.list__item-container p:last-child {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 1rem;
    margin-right: -0.5rem;
}

} */


@media only screen and (max-width: 37.5em) {
  .side-nav__link:link,
  .side-nav__link:visited {
    flex-direction: column;
    padding: 1.5rem 0.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .side-nav__icon {
    margin-right: 0;
    margin-bottom: 0.7rem;
    width: 1.5rem;
    height: 1.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .description {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .detail {
    flex-direction: column;
  }
}

@media only screen and (max-width: 37.5em) {
  .overview__heading {
    font-size: 1.8rem;
    padding: 1.25rem 2rem;
    margin: 0 auto;
  }
  .list__item-container p:last-child {
    font-size: 1rem;
    color: black;
    font-weight: 700;
    margin-bottom: 2rem;
}
.footer {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
  font-size: 1.2rem;
}
}

/* @media only screen and (max-width: 37.5em) {
  .overview__rating {
    padding: 0 1.5rem;
  }
} */

@media only screen and (max-width: 37.5em) {
  .overview__rating-average {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .overview__rating-count {
    font-size: 0.5rem;
  }
}

/* Inside mediaqueries.scss */

@media only screen and (max-width: 56.25em){
  .content {
    flex-direction: column; 
  }
  .hotel-view {
    background-color: #fff;
    flex: 1;
    order: 2;
}
  .sidebar {
    order: 1; 
    flex: 0 0 100%; 
  }

  .header {
    height: auto;  
  }
}

@media only screen and (max-width: 56.25em) {
  .content {
    flex-direction: column;
  }
}

@media only screen and (max-width: 56.25em) {
  .detail {
    padding: 3rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .description {
    padding: 2rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .side-nav {
    display: flex;
    margin: 0;
  }
}

@media only screen and (max-width: 56.25em) {
  .side-nav__item:not(:last-child) {
    margin: 0;
  }
}
@media only screen and (max-width: 56.25em) {
  .side-nav__item {
    flex: 1;
  }
}

@media only screen and (max-width: 56.25em) {
  .side-nav__link:link,
  .side-nav__link:visited {
    justify-content: center;
    padding: 2rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .legal {
    display: none;
  }
}

@media only screen and (max-width: 56.25em) {
  .review {
    padding: 2rem;
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 75em) {
  .container {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}
