
@media only screen and (max-width: $bp-smallest) {
    .search{
        order: 1;
    flex: 0 0 100%;
    background-color: var(--color-grey-light-2);
    } 
  }



  @media only screen and (max-width: $bp-medium) {
    .side-nav { display: flex;
    margin: 0;
}
  }

  
  @media only screen and (max-width: $bp-medium) {
    .side-nav__item:not(:last-child) {
        margin: 0;
    }
  }


  
  @media only screen and (max-width: $bp-medium) {
    .side-nav__item {flex: 1;}
  }